@inherits TestComponentCode
<select @onchange="CustomerSelected" size="4" style="width:100%">
    @foreach (var customer in @Customers)
    {
        <option value="@customer.CustomerId">@customer.Name</option>
    }
</select>

<br />
Add Customer: <input @bind="@NewCustomerName" />
<button @onclick="CustomerAdding">Add</button>
<br />

@if (SelectedCustomer != null)
{
    <input @bind="@SelectedCustomer.Name" @bind:event="oninput" />
    <button @onclick="ResetButtonClicked">Reset</button>
}
