@inherits TestComponentCode
<select @onchange="CustomerSelected" size="4" style="width:100%">
    @foreach (var customer in @Customers)
    {
        <option value="@customer.CustomerId">@customer.Name</option>
    }
</select>

<br />
Add Customer:
<input @bind="@NewCustomerName" />
<button @onclick="AddButtonClicked">Add</button>
<br />

@if (SelectedCustomer != null)
{
    <div style="background-color:lightgray;padding:1vw;">
        <input @bind="@SelectedCustomer.Name" @bind:event="oninput" />
        <button @onclick="UpdateButtonClicked">Update</button>
        <button @onclick="ResetButtonClicked">Reset</button>
        <button @onclick="DeleteButtonClicked">Delete</button>
    </div>
}