@page "/"
@using BlazorWorkshop.Data;
Customers:
<TestComponent Customers="Customers" 
            SelectedCustomer="SelectedCustomer" 
            CustomerResetEvent="CustomerResetting" 
            CustomerSelectEvent="CustomerSelected"
            AddCustomerEvent="AddCustomer"> </TestComponent>

@if (SelectedCustomer != null)
{
    <br />
    <br />
    <span style="color:green;">Customer Selected: @SelectedCustomer.Name</span>
}

@code {

    List<Customer> Customers = new List<Customer>();

    Customer SelectedCustomer;

    private void CustomerSelected(Customer customer)
    {
        SelectedCustomer = customer;
    }

    protected override async Task OnInitializedAsync()
    {
        Customers = await CustomerService.GetAllCustomersAsync();
    }

    protected async Task CustomerResetting(int customerId)
    {
        Customer originalCustomer = await CustomerService.GetCustomerAsync(customerId);
        if(originalCustomer != null)
        {
            Customers[Customers.FindIndex(x => x.CustomerId == customerId)] = originalCustomer;
            SelectedCustomer = originalCustomer;
        }
    }

    protected async Task AddCustomer(string customerName)
    {
        if (!string.IsNullOrWhiteSpace(customerName))
        {
            int nextId = Customers.Count > 0 ? Customers.Select(c => c.CustomerId).Max() + 1 : 1; 
            var newCustomer = new Customer() { CustomerId = nextId, Name = customerName };
            await CustomerService.AddCustomer(newCustomer);
            Customers = await CustomerService.GetAllCustomersAsync();
        }
    }
}